@font-face {
    font-family: 'din-next-rounded';
    src: url('/fonts/DINNextRoundedLTPro-Bold.woff2') format('woff2'),
        url('/fonts/DINNextRoundedLTPro-Regular.woff2') format('woff2');
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: 'din-next-rounded', sans-serif;
    overflow-x: hidden;
}

a {
    color: inherit;
    text-decoration: none;
}

input {
    font-family: 'din-next-rounded', sans-serif;
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
    color: white;
}

:root {
    --primary: #58cc02;
    --background-color: #cccccc;
}
